* {

    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* banner Section Styles */

.banner {
    min-height: 100vh;
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    padding: 0 150px;
}

.banner-items {
    color: #151414;
    text-align: right;
    padding-top: 300px;
    padding-left: 480px;



}

.banner-title {


    font-size: 65px;
    font-weight: 700;
    margin-bottom: 25px;



}

.banner-description {
    margin-bottom: 30px;

}

.banner-btn {

    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #F15B22;
    border-radius: 5px;
    border: 0;
    padding: 20px 25px;
    margin-bottom: 100px;
}

/* Previous year worked section styles */

.plans-container {
    margin: 130px 20px;
}

.plan-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    text-align: center;

}

.past-year-record {
    display: flex;

}

.random-person {
    padding: 130px 150px;
}

.record-description {
    text-align: left;
    margin-top: 350px;
    margin-right: 150px;
}

.record-title {

    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;


}

.record-content {
    font-weight: 400;
    color: #444343;
    margin-bottom: 15px;
}

.record-list {
    margin-left: 10px;

}

/* Plans Section Styles */

.plan-list {
    display: flex;
    margin: 50px 250px;
    text-align: center;
    gap: 80px;
}

.plan-list h3 {
    margin-top: 20px;
    margin-bottom: 10px;

}

.a-message {
    background-image: url('../images/gradient2.png'), url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;

    border-radius: 8px;

    text-align: left;
    margin: 130px 200px;

}

.message-title {
    color: white;
    font-size: 40px;
    font-weight: 700;


}

.call {
    color: #F15B22;
    background-color: white;
    border-radius: 5px;
    border: 0;
    padding: 20px 35px;
    margin-top: 25px;


}


/* footer section styles */

.footer {
    background-color: #151414;
    display: flex;
    padding: 130px 230px;
    gap: 330px;
}

.footer-head {
    color: #F8F8F8;
    font-size: 40px;
    font-weight: 700;


}

.description {
    color: rgba(255, 255, 255, 0.75);
    margin-top: 15px;
    margin-bottom: 20px;

}

.logo {
    margin-right: 15px;
    width: 40px;
}

.subs-title {
    color: white;
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;

}

.email {
    font-size: 18px;
    background-color: #151414;
    padding: 20px 20px;
    border-radius: 8px;
    margin-top: 30px;
    border: 1px solid #F8F8F8;

}

.subs-btn {
    font-size: 20px;
    font-weight: 600;
}